---
title : Tags
layout : default
---

{% assign sorted_tags = site.data.tags | sort_natural %}
{% if sorted_tags.size > 0 %}
<ul class="tag-index">
  {% for tag in sorted_tags %}
    {% assign tag_posts = site.tags[tag] %}
    {% if tag_posts %}
      {% assign tag_count = tag_posts | size %}
    {% else %}
      {% assign tag_count = 0 %}
    {% endif %}
  <li>
    <a href="{{ '/tags/tag_' | append: tag | append: '.html' | relative_url }}">
      <span class="tag-name">{{ tag | replace: '_', ' ' }}</span>
      <span class="tag-count">{{ tag_count }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="sheet">
  <p class="empty-note">등록된 태그가 없습니다.</p>
</div>
{% endif %}
