<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/default.css">
		<link rel="stylesheet" href="/assets/css/code.css">
		<link rel="icon" type="image/png" href="/assets/favicon/favicon.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/music-controls.js"></script>
		<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>

		<!-- head.html 또는 기본 레이아웃 파일에 추가 -->
		<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
	</head>
  <body>
      {% include header.html %}
			<div class="container">
			  <div class="navigation">
					<ul>
					  {% for item in site.data.navigation.main %}
					    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
					  {% endfor %}
					</ul>
					<div id="music-controls" style="text-align: center;">
					    <img id="musicGif" src="https://cdn.pixabay.com/animation/2022/12/05/15/23/15-23-06-837_512.gif" alt="Music GIF" style="display: inline-block; width: 50px; height: 50px; margin-top: 21px;">
					    <button id="playButton" onclick="playMusic()" style="font-size: 0.6vw;">Play</button>
					    <button id="pauseButton" onclick="pauseMusic()" style="font-size: 0.6vw;">Pause</button>
					    <button id="nextButton" onclick="nextMusic()" style="font-size: 0.6vw;">Next</button>
					</div>
			  </div>
			  <div class="main">
					{{ content }}
			  </div>
			</div>
			{% include footer.html %}
  </body>
</html>
