---
layout : default
toc : true
---

<div class="markdown-body">
  <div class="md-content">
    {{ content }}
    <p class="back-top"><a href="#content">Top</a></p>
  </div>
  <aside class="md-index">
    <h2>목차</h2>
    {% toc %}
    <h2>관련 글</h2>
    {% assign has_related = false %}
    {% for post in site.posts %}
      {% if page.tags[0] and post.url != page.url and post.tags contains page.tags[0] %}
        {% assign has_related = true %}
        <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
      {% endif %}
    {% endfor %}
    {% unless has_related %}
      <p class="side-empty">관련 글이 없습니다.</p>
    {% endunless %}
  </aside>
</div>
